/* @import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital@0;1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root {
  --color-dark-green: #1b321d;
  --color-tan: #dbcbb6;
  --font-serif: 'Spectral', serif;
  --font-sans-serif: 'Jost', sans-serif;
}

body {
  font-family: var(--font-serif);
  color: white;
}

h1, h2 {
  font-weight: 300;
  line-height: 1em;
  letter-spacing: -0.05em;
  line-height: 1.125em;
  margin: 0 1rem 0.25em 1rem;
}

h1 {
  font-size: 4em;
  font-size: clamp(4em, 8vw, 8em); 
}

h2 {
  font-size: 3em;
  font-size: clamp(3em, 6vw, 8em);
  text-align: left; 
}

button {
  font-family: var(--font-sans-serif);
  font-size: 1.25em;
  font-size: clamp(1.25em, 1.75vw, 3em); 
  width: 7em;
  height: 7em;
  border-radius: 50%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 0.1em solid white;
  background-color: transparent;
  cursor: pointer;
  pointer-events: all;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

footer {
  position: absolute;
  bottom: 1em;
  right: 1rem;
  color: var(--color-tan);
}

footer a {
  color: var(--color-tan);
}

